In [1]:
import re
import pandas as pd

#building a parser model

In [2]:
df = pd.read_csv('date_parser_testcases.csv')
df

                                                Input Expected Output
0         The event will take place on March 5, 2023.      05/03/2023
1                      Her birthday is on 07/08/1990.      07/08/1990
2                         The deadline is 2022-12-31.      31/12/2022
3                      We met on 1st of January 2000.      01/01/2000
4   The concert is scheduled for 15th September, 2...      15/09/2021
..                                                ...             ...
95  We celebrate Independence Day on 2023-07-04, a...      04/07/2023
96  The final date for submission is 30th November...      30/11/2022
97  The annual conference is on 15th October 2023,...      15/10/2023
98  His birthdate, noted as 1990-05-20, is in the ...      20/05/1990
99  The festival will be celebrated on 12th August...      12/08/2024

[100 rows x 2 columns]

In [3]:
# Case 1
#* 01/01/2000 or 1/1/2000 or 01/01/00 or 1/1/00
count = 0
indexes_found = []
for i in range(len(df)):
    stringg = df.Input[i]
    for word in stringg.split():
        if re.search(r'\d{1,2}.\d{1,2}.\d{2,4}', word):
            print(word)
            indexes_found.append(i)
            count+=1

07/08/1990.
2022-12-31.
02.04.2022.
5/6/19.
1987/11/23.
1997-05-20,
2021.11.10.
12/12/12.
08/31/2021.
1995/10/30.
01-01-2023.
03/14/2022.
31.08.2020.
2020-02-28.
12/25/2019.
11.11.2021.
2023/07/04.
2021-09-09.
1/2/2022.
2022-10-10.
10/10/2018.
2020.12.15.
31-12-2022.
07/15/2021.
2022-03-03.
08/08/2020.
2020/09/09.
01.01.2022.
2023-07-04.
1990-05-20.
07/08/1990,
2022-12-31.
02.04.2022
5/6/19,
1987/11/23,
2021.11.10,
12/12/12
08/31/2021,
1995/10/30
01-01-2023
03/14/2022,
31.08.2020.
2020-02-28.
12/25/2019.
11.11.2021.
2023/07/04,
2021-09-09.
1/2/2022,
2022-10-10,
10/10/2018,
2020.12.15,
31-12-2022,
07/15/2021,
2022-03-03.
08/08/2020.
2020/09/09.
01.01.2022,
2023-07-04,
1990-05-20,

In [4]:
count/len(df)

0.59

In [5]:
#* anything with month in words
maybe = {}
for i in df.Input:
    if i not in indexes_found:
        wordss = i.split()
        for word in wordss:
            #print(word.lower())
            if re.search(r'(jan ?|feb ?|mar ?|apr ?|may ?|june ?|jul ?|aug ?|sep ?|oct ?|nov ?|dec ?)', word.lower()):
                maybe[i] = word
                # indexes_found.append(i)
                # count+=1

In [6]:
maybe

{'The event will take place on March 5, 2023.': 'March',
 'We met on 1st of January 2000.': 'January',
 'The concert is scheduled for 15th September, 2021.': 'September,',
 'Christmas is on 25th Dec 2024.': 'Dec',
 'The meeting is set for April 03, 2020.': 'April',
 'Her appointment is on the 2nd of March, 2021.': 'March,',
 'They got married on 12/12/12.': 'married',
 'The workshop is on February 15th, 2022.': 'February',
 'The course starts on 1st July 2023.': 'July',
 'Independence Day is on 4th of July, 2022.': 'July,',
 'The holiday starts on Dec 20th, 2021.': 'Dec',
 'The conference will be held on 5th May 2023.': 'May',
 'The festival begins on March 17, 2022.': 'March',
 'Her graduation is on May 30th, 2022.': 'May',
 'His wedding is on 6th of August, 2020.': 'August,',
 'She was born on 3rd March 1998.': 'March',
 'The workshop is on February 29, 2024.': 'February',
 'The tournament is on June 1st, 2021.': 'June',
 'The last date is 30th November 2022.': 'November',
 'The conference is on 15th October 2023.': 'October',
 'The festival is on 12th August 2024.': 'August',
 'We are planning to meet on March 5, 2023, for lunch.': 'March',
 'We first met on the 1st of January 2000 at the conference.': 'January',
 'The concert, happening on 15th September 2021, will be amazing.': 'September',
 'We celebrate Christmas every year on 25th Dec, including 2024.': 'Dec,',
 'The meeting is rescheduled to April 03, 2020, as per the latest update.': 'April',
 'Their anniversary is marked on the 2nd of March, 2021.': 'March,',
 'Our next workshop is scheduled for February 15th, 2022.': 'February',
 'The course officially begins on 1st July 2023.': 'July',
 'We celebrate Independence Day on the 4th of July every year, including 2022.': 'July',
 'The holiday vacation starts on Dec 20th, 2021, for everyone.': 'Dec',
 'The conference, marked for 5th May 2023, is a significant event.': 'May',
 'Our festival starts on March 17, 2022, with a parade.': 'March',
 'The big event is planned for 2023/07/04, so mark your calendars.': 'mark',
 'Her graduation day is set for May 30th, 2022.': 'May',
 'The wedding is on 6th of August, 2020, in the evening.': 'August,',
 'She mentioned she was born on the 3rd of March 1998.': 'March',
 'The next workshop is on February 29, 2024, due to the leap year.': 'February',
 'The tournament begins on June 1st, 2021, early in the morning.': 'June',
 'The final date for submission is 30th November 2022.': 'November',
 'The annual conference is on 15th October 2023, mark your calendars.': 'mark',
 'The festival will be celebrated on 12th August 2024, with grand events.': 'August'}

In [7]:
shortlist = {}
months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]
for key, word in maybe.items():
    if len(word) >= 3 and word.lower() in months:
        shortlist[key] = word
        count+=1
        continue
    elif len(word) == 3:
        shortlist[key] = word
        count+=1

In [16]:
shortlist

{'The event will take place on March 5, 2023.': 'March',
 'We met on 1st of January 2000.': 'January',
 'Christmas is on 25th Dec 2024.': 'Dec',
 'The meeting is set for April 03, 2020.': 'April',
 'The workshop is on February 15th, 2022.': 'February',
 'The course starts on 1st July 2023.': 'July',
 'The holiday starts on Dec 20th, 2021.': 'Dec',
 'The conference will be held on 5th May 2023.': 'May',
 'The festival begins on March 17, 2022.': 'March',
 'Her graduation is on May 30th, 2022.': 'May',
 'She was born on 3rd March 1998.': 'March',
 'The workshop is on February 29, 2024.': 'February',
 'The tournament is on June 1st, 2021.': 'June',
 'The last date is 30th November 2022.': 'November',
 'The conference is on 15th October 2023.': 'October',
 'The festival is on 12th August 2024.': 'August',
 'We are planning to meet on March 5, 2023, for lunch.': 'March',
 'We first met on the 1st of January 2000 at the conference.': 'January',
 'The concert, happening on 15th September 2021, will be amazing.': 'September',
 'The meeting is rescheduled to April 03, 2020, as per the latest update.': 'April',
 'Our next workshop is scheduled for February 15th, 2022.': 'February',
 'The course officially begins on 1st July 2023.': 'July',
 'We celebrate Independence Day on the 4th of July every year, including 2022.': 'July',
 'The holiday vacation starts on Dec 20th, 2021, for everyone.': 'Dec',
 'The conference, marked for 5th May 2023, is a significant event.': 'May',
 'Our festival starts on March 17, 2022, with a parade.': 'March',
 'Her graduation day is set for May 30th, 2022.': 'May',
 'She mentioned she was born on the 3rd of March 1998.': 'March',
 'The next workshop is on February 29, 2024, due to the leap year.': 'February',
 'The tournament begins on June 1st, 2021, early in the morning.': 'June',
 'The final date for submission is 30th November 2022.': 'November',
 'The festival will be celebrated on 12th August 2024, with grand events.': 'August'}

In [17]:
#
#* anything with month in words and year
maybe = {}
for i in df.Input:
    if i not in indexes_found:
        wordss = i.split()
        for word in wordss:
            #print(word.lower())
            if re.search(r'(jan ?|feb ?|mar ?|apr ?|may ?|june ?|jul ?|aug ?|sep ?|oct ?|nov ?|dec ?)', word.lower()):
                maybe[i] = word
                # indexes_found.append(i)
                # count+=1

In [18]:

shortlist = {}
months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]
for key, word in maybe.items():
    if len(word) >= 3 and word.lower() in months:
        shortlist[key] = word
        count+=1
        continue
    elif len(word) == 3:
        shortlist[key] = word
        count+=1

In [9]:
# Find num num Month or num Month num or Month num num
count/len(df)

0.91

In [10]:
def month_name_to_number(month):
    months = {
        "jan": "01", "january": "01",
        "feb": "02", "february": "02",
        "mar": "03", "march": "03",
        "apr": "04", "april": "04",
        "may": "05",
        "jun": "06", "june": "06",
        "jul": "07", "july": "07",
        "aug": "08", "august": "08",
        "sep": "09", "september": "09",
        "oct": "10", "october": "10",
        "nov": "11", "november": "11",
        "dec": "12", "december": "12"
    }
    return months.get(month.lower(), None)

In [11]:
def ensure_full_year(year):
    if len(year) == 2:
        if int(year) <= int(str(pd.Timestamp.now().year)[-2:]):
            return "20" + year  
        else:
            return "19" + year 
    return year

In [12]:
def parse_date(text):
    
    patterns = [
        
        r"(\d{1,2})(st|nd|rd|th)?\s+of\s+([A-Za-z]+)\s*,?\s*(\d{4})",
        r"(\d{1,2})(st|nd|rd|th)?\s+of\s+([A-Za-z]+)\s+(\d{4})",
        r"(\d{1,2})(st|nd|rd|th)?\s+([A-Za-z]+)\s*,?\s*(\d{4})",  # e.g., 21st June 2024
        r"([A-Za-z]+)\s+(\d{1,2})(st|nd|rd|th)?\s*,?\s*(\d{4})",  # e.g., June 21st 2024

        
        r"(\d{1,2})/(\d{1,2})/(\d{4})",  # e.g., 25/12/2023
        r"(\d{1,2})-(\d{1,2})-(\d{4})",  # e.g., 25-12-2023
        r"(\d{1,2})\.(\d{1,2})\.(\d{4})",  # e.g., 25.12.2023
        r"(\d{4})/(\d{1,2})/(\d{1,2})",  # e.g., 2023/12/25 (Year first)
        r"(\d{4})-(\d{1,2})-(\d{1,2})",  # e.g., 2023-12-25 (Year first)
        r"(\d{1,2})/(\d{1,2})/(\d{2})",  # e.g., 25/12/19

        r"(\d{4})\.(\d{1,2})\.(\d{1,2})",
        r"(\d{4})/(\d{1,2})/(\d{1,2})",  # e.g., 2023/12/25
        r"(\d{4})-(\d{1,2})-(\d{1,2})",
        
        
        r"([A-Za-z]+)\s+(\d{1,2})(st|nd|rd|th)?,?\s+(\d{4})",  # e.g., June 21, 2024
        r"(\d{4})\s+([A-Za-z]+)\s+(\d{1,2})(st|nd|rd|th)?",  # e.g., 2024 June 21
        
       
        r"(\d{1,2})/(\d{1,2})/(\d{2})",  # e.g., 5/6/19
        r"(\d{1,2})/(\d{1,2})/(\d{4})",  # e.g., 08/31/2021
        r"(\d{1,2})(st|nd|rd|th)?\s+of\s+([A-Za-z]+)\s*,?\s*including\s+(\d{4})",  # e.g., 25th Dec, including 2024
        r"(\d{1,2})(st|nd|rd|th)?\s+of\s+([A-Za-z]+)\s+every\s+year(?:,\s+including\s+(\d{4}))?"  # e.g., 4th of July every year, including 2022
    ]
    
    for pattern in patterns:
        match = re.search(pattern, text)
        if match:
            try:
                
                if pattern == r"(\d{1,2})/(\d{1,2})/(\d{4})":
                    month, day, year = match.groups()
                    month, day = month.zfill(2), day.zfill(2)
                    return f"{day}/{month}/{year}"
                
                if pattern == r"(\d{1,2})(st|nd|rd|th)?\s+of\s+([A-Za-z]+)\s*,?\s*including\s+(\d{4})":
                    day, month, year = match.groups()[0], match.groups()[2], match.groups()[3]
                    day = day.zfill(2)  
                    month = month_name_to_number(month)  
                    return f"{day}/{month}/{year}"
                
                if pattern == r"(\d{1,2})(st|nd|rd|th)?\s+of\s+([A-Za-z]+)\s+every\s+year(?:,\s+including\s+(\d{4}))?":
                    day, month, year = match.groups()[0], match.groups()[2], match.groups()[3]
                    day = day.zfill(2)
                    month = month_name_to_number(month)
                    if not year:
                        year = datetime.now().year
                    else:
                        year = ensure_full_year(year)
                    return f"{day}/{month}/{year}"
                
                
                if len(match.groups()) == 4:  
                    day = match.group(1) if pattern.startswith(r"(\d{1,2})") else match.group(2)
                    day = day.zfill(2)
                    month = match.group(3) if pattern.startswith(r"(\d{1,2})") else match.group(1)
                    if month.isdigit():  
                        month = month.zfill(2)
                    else:  
                        month = month_name_to_number(month)
                    year = match.group(4) if pattern.startswith(r"(\d{1,2})") else match.group(4)
                else:  
                    if pattern.startswith(r"(\d{4})"):  
                        year, month, day = match.group(1), match.group(2).zfill(2), match.group(3).zfill(2)
                    else:  
                        day, month, year = match.group(1).zfill(2), match.group(2).zfill(2), match.group(3)

                
                if year and len(year) == 2:
                    year = ensure_full_year(year)
                if month and len(month) == 1:
                    month = f"0{month}"
                if day and len(day) == 1:
                    day = f"0{day}"
                
                return f"{day}/{month}/{year}"
            except Exception as e:
                print(f"Error parsing date '{text}': {e}")
    
    return None


df['parsed_date'] = df['Input'].apply(parse_date)


print(df)

                                                Input Expected Output  \
0         The event will take place on March 5, 2023.      05/03/2023
1                      Her birthday is on 07/08/1990.      07/08/1990
2                         The deadline is 2022-12-31.      31/12/2022
3                      We met on 1st of January 2000.      01/01/2000
4   The concert is scheduled for 15th September, 2...      15/09/2021
..                                                ...             ...
95  We celebrate Independence Day on 2023-07-04, a...      04/07/2023
96  The final date for submission is 30th November...      30/11/2022
97  The annual conference is on 15th October 2023,...      15/10/2023
98  His birthdate, noted as 1990-05-20, is in the ...      20/05/1990
99  The festival will be celebrated on 12th August...      12/08/2024

   parsed_date
0   05/03/2023
1   08/07/1990
2   31/12/2022
3   01/01/2000
4   15/09/2021
..         ...
95  04/07/2023
96  30/11/2022
97  15/10/2023
98  20/05/1990
99  12/08/2024

[100 rows x 3 columns]

In [13]:
# Function to get expected output
def expected_output(input):
    return df[df['Input'] == input]['Expected Output'].values[0]

#testing
print(expected_output(df['Input'][1]))

07/08/1990

In [14]:
#if expected output is equal to parsed date then it is correct give percentage of correct answers
correct = 0
for i in range(len(df)):
    if expected_output(df['Input'][i]) == df['parsed_date'][i]:
        correct += 1
print(correct/len(df))

#print the misatches
for i in range(len(df)):
    if expected_output(df['Input'][i]) != df['parsed_date'][i]:
        print(df['Input'][i], df['parsed_date'][i], expected_output(df['Input'][i]))

0.94
Her birthday is on 07/08/1990. 08/07/1990 07/08/1990
The interview is on 1/2/2022. 02/01/2022 01/02/2022
Input None Expected Output
Her birthday, which she celebrates on 07/08/1990, is coming up soon. 08/07/1990 07/08/1990
We celebrate Christmas every year on 25th Dec, including 2024. None 25/12/2024
The job interview is on 1/2/2022, don't be late. 02/01/2022 01/02/2022